@model LogicaNegocio.Dominio.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("ID")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Nombre y Apellido")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreYApellido.NombreValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Contraseña")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasenia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
