@model IEnumerable<LogicaNegocio.Dominio.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Pedidos</h1>

<td>
    <a asp-action="Create">Crear nuevo pedido</a> |
    <a asp-action="ListarPedidosAnulados">Listar pedidos anulados</a>
</td>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
                <td>
                    <div class="action-buttons">
                        @if (@item.Total == 0)
                        {
                            <a asp-controller="Lineas" asp-action="Index" asp-route-id="@item.Id" asp-route-lineas="@item.Lineas" class="btn btn-edit">Editar Lineas</a>
                        }
                        |
                        @if (@item.Total == 0)
                        {
                            <form asp-controller="Pedidos" asp-action="CalcularTotal" method="post" style="display: inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-anular">Postear Factura</button>
                            </form>
                        }
                        |
                        @if (@item.Estado != "Anulado")
                        {
                            <form asp-controller="Pedidos" asp-action="AnularPedido" method="post" style="display: inline;"> 
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-anular">Anular</button> 
                            </form>
                        }
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>

<br />
<span>@ViewBag.Mensaje</span>
<br />
