@model IEnumerable<LogicaNegocio.Dominio.Pedido>

@{
    ViewData["Title"] = "ListaPedidosParaAnular";
}

<h1>Lista de Pedidos para Anular</h1>
<br />
<form asp-action="ListaPedidosParaAnular" method="get">
    <div>
        <label for="FechaFiltro">Filtrar por fecha: </label>
        <input type="date" id="FechaFiltro" name="FechaFiltro" />
        <button type="submit">Filtrar</button>
    </div>
</form>
<br />
@if (!Model.Any())
{
    <p>No hay pedidos para mostrar.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FechaPrometida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cliente.RazonSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPrometida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @if (@item.Estado != "Anulado")
                        {
                            <form asp-controller="Pedidos" asp-action="AnularPedido" method="post" style="display: inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-anular">Anular</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<span>@ViewBag.Mensaje</span>
<br />
