@model DTOs.DTOMovimientoStock
@{
    ViewData["Title"] = "Create";
}


<h1>Crear</h1>
<span>@ViewBag.Mensaje</span>

<h4>Nuevo Movimiento de Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdArticulo" class="control-label"></label>
                <select asp-for="IdArticulo" class="form-control">
                    <option value="">Seleccione un artículo</option>
                    @if (ViewBag.Articulos != null)
                    {
                        foreach (var articulo in ViewBag.Articulos)
                        {
                            <option value="@articulo.Value">@articulo.Text</option>
                        } 
                    }
                    else
                    {
                        <option value="">Error cargando los articulos</option>
                    }
                </select>
                <span asp-validation-for="IdArticulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadUnidades" class="control-label"></label>
                <input asp-for="CantidadUnidades" class="form-control" />
                <span asp-validation-for="CantidadUnidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoMovimiento" class="control-label"></label>
                <select asp-for="IdTipoMovimiento" class="form-control">
                    <option value="">Seleccione un artículo</option>
                    @if (ViewBag.TipoMovimiento != null)
                    {
                        foreach (var tipoMovimiento in ViewBag.TipoMovimiento)
                        {
                            <option value="@tipoMovimiento.Value">@tipoMovimiento.Text</option>
                        }
                    }
                    else
                    {
                        <option value="">Error cargando los tipos de movimiento</option>
                    }
                </select>
                <span asp-validation-for="IdTipoMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailUsuario" class="control-label"></label>
                <input asp-for="EmailUsuario" class="form-control" readonly />
                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
